.contact__content {
    display: flex;
    flex-direction: column;
}

.contact__title p {
    color: #147efb;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.contact__title h3 {
    /* color: #2d2e32; */
    font-size: 2.5rem;
}

svg {
    color:#fff;  
}

svg:hover {
    color:#0047ab;  
}
